* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
ul,
ol {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  list-style: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  background-image: url(./img/фон.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 18px;
  font-weight: 400;
}

.logo {
  width: 179px;
  height: 72px;
}

.headerText {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.headerH1 {
  font-size: 64px;
  font-weight: 700;
}
.headerH2 {
  font-size: 42px;
  font-weight: 400;
}

.btnHeader {
  border: solid 2px white;
  background-color: transparent;
  color: white;
  padding: 20px 30px;
  border-radius: 15px;
}

.socialMediaContainer {
  display: flex;
  gap: 38px;
  justify-content: center;
  align-items: center;
}

.servicesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
  justify-content: center;
  padding: 150px 20px;
}

.services {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.mainH2 {
  font-size: 24px;
  font-weight: 700;
  color: #868585;
}

.serviceBlock {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 90px;
}

.mainText {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mainTextContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.mainImg {
  width: 45%;
  max-width: 600px;
  height: auto;
  object-fit: cover;
}

.mainH3 {
  font-size: 18px;
  font-weight: 700;
}

.mainP {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #303030;
}

.navList {
  display: flex;
  gap: 40px;
  color: #303030;
  font-size: 18px;
  font-weight: 400;
  :hover {
    text-decoration: underline;
    font-weight: 600;
    color: #5a5a5a;
  }
}

.greenTariffContainer {
  display: flex;
  gap: 40px;
}

.greenTariff {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.greenTariffText {
  font-size: 14px;
  color: #303030;
}

.greenTariffBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  min-width: 235px;
  min-height: 110px;
}

.greenTariffContainerBox {
  display: flex;
  flex-direction: column;
  gap: 19px;
  flex-wrap: wrap;
}
.greenContainerBox {
  display: flex;
  gap: 40px;
}

.boxcontroler {
  display: flex;
  gap: 40px;
}

.greenTariffH3 {
  color: #303030;
  font-weight: 700;
  font-size: 18px;
}

.imgGreenTariff2 {
  width: 600px;
  height: 525px;
}

.greenTariffContainer {
  display: flex;
  gap: 90px;
  justify-content: center;
}

.greenT {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.mainTextContainer2 {
  background-image: url(./img/Rectangle\ 10.jpg);
  width: 100%;
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  display: flex;
  padding: 144px 500px;
}

.h2Main {
  font-size: 42px;
  font-weight: 400;
  color: white;
}

.BlockClientBase{
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.ClientBlock{
  display: flex;
  gap: 140px;
}

.BlockParameter{
  display:flex;
  flex-direction: column;
  gap: 30px;
}


.ClientBlockList{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btnClient{
  width: 300px;
  padding: 10px;
  
}
